rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	function isAuthenticated() {
    	return request.auth.uid != null;
    }
    
    function isAdmin() {
    	return isAuthenticated() &&
      	exists(/databases/$(database)/documents/administrators/$(request.auth.uid));
    }
    
    match /{document=**} {
    	allow read, write: if isAuthenticated();
      match /colors/{colorid} {
      	allow write: if isAdmin();
      }
    }
  }
}